extends layout

block content
	table.table
		thead
			tr
				th(scope="col") #
				th(scope="col") Institute ID
				th(scope="col") Institute Name
				th(scope="col") State
				th(scope="col") District
				th(scope="col") City
				th(scope="col") Scheme
				th(scope="col") Sub Scheme
				th(scope="col") Enrollments
				th(scope="col") Start Date
				th(scope="col") End Date              
				
				
		tbody
			each uscheme in uschemes
				tr
					th(scope="row") #{uscheme_id}
					td #{uscheme.Institute_Permanent_ID}
					td #{uscheme.Institute_Name}
					td #{uscheme.state}
					td #{uscheme.District}
					td #{uscheme.City}
					td #{uscheme.Scheme}
					td #{uscheme.Sub_Scheme}
					td #{uscheme.Enrollments}
					td #{uscheme.Start_Date}
					td #{uscheme.End_Date}
					